* {
    margin: 0px;
    padding: 0px;
}

header{
    background-color: yellowgreen;
    background-size: cover;
    padding: 10px;
    margin: 5px;
}

h1{
    font-family: 'Montserrat', sans-serif;
    color:darkmagenta
}

p{font-family: 'PT Serif', serif;
    color: red;
}

body {
    background-image: url("https://p0.pxfuel.com/preview/497/372/964/texture-watercolor-painting-color.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
section {
    display: flex;
    justify-content: center;
    padding: 100px;
}

aside {
    display: flex;
    justify-content: space-evenly;
    background-color: crimson;
    padding: 20px;
    margin: 25px;
}

 .li2 {
    display: inline-block;
    width: 10%;
    position: relative;
    font-size: 15px;
    padding: 5px; 
  } 


.imagenServ {
    display: flex;
    justify-content: center;
}



.section2 {
    display: grid;
    grid-template-columns: 10px 10px;
    grid-template-rows: auto;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}

.form1 {
width: 450px;
height: 400px;
margin: auto;
background: rgba(0, 0,0, 0.4);
padding: 10px 20px;
box-sizing: border-box;
margin-top: 20px;
border-radius: 7px;
}

h2 {
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 0;
    margin-bottom: 20px;
}

.contacto2{
    width: 450px;
    height: 400px;
    margin: auto;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 7px;
    color: white;
    background-color: transparent;
}


input,textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
}

.ul2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:flex-start;
    color: white;
    }    
    .ul2 li {
         display: flex;
        flex-direction: row;
             }

.pDos {
    color: white;
}

.imagen {
    width: 100%;
    }
    
.imagen img {
    width: 500px;
    height: 200px;
}
   
 .galeria {
   width: 70%;
   margin: auto;
   display: grid;
   grid-template-columns: repeat (2, 1fr);
   column-gap: .5rem;
   row-gap: .5rem;
   }
   
   

h3 {
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    }


h4 {
    color: black;
    font-size:xx-large;
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 30px;
}



.pTres {
font-family: 'Dancing Script', cursive;
background-color: whitesmoke;
padding: 2%;
margin: 5%;
font-size: 50px;
color: darkgreen;
display: flex;
justify-content:center;
    }

.carousel10 {
    margin: 15px;
    padding: 15px;
}

.pCuatro {
    padding: 15px;
    margin: 50px;
    color: red;
    background-color: beige;
}

.imprentafoto {
    display: flex;
    justify-content: center;
margin: 50px;
padding: 20px;
}

.nosotrostitulo {
    margin: 5px;
    padding: 5px;
}

@media (min-width:100px){
    .galeria {
    grid-template-columns: repeat(1,1fr);
    }
 }
@media (min-width:520px){
    .galeria {
    grid-template-columns: repeat(1,1fr);
    }
 }
    
@media (min-width:728px){
    .galeria {
    grid-template-columns: repeat(2,1fr);
    }
 }
    
@media (min-width:1024px){
    .galeria {
    grid-template-columns: repeat(2,1fr);
    }
 }

    ul {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
    }

    .envoltorio {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 4fr;
        background-color: palevioletred;
    
    } 
    
    .aside10 {
        padding: 2rem;
        padding-right: 0;
        color: var(--clr-white);
        position: sticky;
        top: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .logo {
        font-weight: 400;
        font-size: 1.3rem;
    }
    
    .menu {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    
    .boton-menu {
        background-color: transparent;
        border: 0;
        color: var(--clr-white);
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: 600;
        padding: 1rem;
        font-size: .85rem;
        width: 100%;
    }
    
    .boton-menu.active {
        background-color: var(--clr-white);
        color: var(--clr-main);
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        position: relative;
    }
    
    .boton-menu.active::before {
        content: '';
        position: absolute;
        width: 1rem;
        height: 2rem;
        bottom: 100%;
        right: 0;
        background-color: transparent;
        border-bottom-right-radius: .5rem;
        box-shadow: 0 1rem 0 var(--clr-white);
    }
    
    .boton-menu.active::after {
        content: '';
        position: absolute;
        width: 1rem;
        height: 2rem;
        top: 100%;
        right: 0;
        background-color: transparent;
        border-top-right-radius: .5rem;
        box-shadow: 0 -1rem 0 var(--clr-white);
    }
    
    .boton-menu > i.bi-hand-index-thumb-fill,
    .boton-menu > i.bi-hand-index-thumb {
        transform: rotateZ(90deg);
    }
    
    .boton-carrito {
        margin-top: 2rem;
    }
    
    .numerito {
        background-color: var(--clr-white);
        color: var(--clr-main);
        padding: .15rem .25rem;
        border-radius: .25rem;
    }
    
    .boton-carrito.active .numerito {
        background-color: var(--clr-main);
        color: var(--clr-white);
    }
    
    .texto-footer {
        color: var(--clr-main-light);
        font-size: .85rem;
    }
    
    main {
        background-color: var(--clr-white);
        margin: 1rem;
        margin-left: 0;
        border-radius: 2rem;
        padding: 3rem;
    }
    
    .titulo-principal {
        color: var(--clr-main);
        margin-bottom: 2rem;
    }
    
    .contenedor-productos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
    
    .producto-imagen {
        max-width: 100%;
        border-radius: 1rem;
    }
    
    .producto-detalles {
        background-color: var(--clr-main);
        color: var(--clr-white);
        padding: .5rem;
        border-radius: 1rem;
        margin-top: -2rem;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }
    
    .producto-titulo {
        font-size: 1rem;
    }
    
    .producto-agregar {
        border: 0;
        background-color: var(--clr-white);
        color: var(--clr-main);
        padding: .4rem;
        text-transform: uppercase;
        border-radius: 2rem;
        cursor: pointer;
        border: 2px solid var(--clr-white);
        transition: background-color .2s, color .2s;
    }
    
    .producto-agregar:hover {
        background-color: var(--clr-main);
        color: var(--clr-white);

    }
    
    

    
    .contenedor-carrito {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    
    .carrito-vacio,
    .carrito-comprado {
        color: var(--clr-main);
    }
    
    .carrito-productos {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .carrito-producto {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--clr-gray);
        color: var(--clr-main);
        padding: .5rem;
        padding-right: 1.5rem;
        border-radius: 1rem;
    }
    
    .carrito-producto-imagen {
        width: 4rem;
        border-radius: 1rem;
    }
    
    .carrito-producto small {
        font-size: .75rem;
    }
    
    .carrito-producto-eliminar {
        border: 0;
        background-color: transparent;
        color: var(--clr-red);
        cursor: pointer;
    }
    
    .carrito-acciones {
        display: flex;
        justify-content: space-between;
    }
    
    .carrito-acciones-vaciar {
        border: 0;
        background-color: var(--clr-gray);
        padding: 1rem;
        border-radius: 1rem;
        color: var(--clr-main);
        text-transform: uppercase;
        cursor: pointer;
    }
    
    .carrito-acciones-derecha {
        display: flex;
    }
    
    .carrito-acciones-total {
        display: flex;
        background-color: var(--clr-gray);
        padding: 1rem;
        color: var(--clr-main);
        text-transform: uppercase;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        gap: 1rem;
    }
    
    .carrito-acciones-comprar {
        border: 0;
        background-color: var(--clr-main);
        padding: 1rem;
        color: var(--clr-white);
        text-transform: uppercase;
        cursor: pointer;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    
    .header-mobile {
        display: none;
    }
    
    .close-menu {
        display: none;
    }
    
    .disabled {
        display: none;
    }
    
    
